= link_to note_folder_path(note_folder) do
  .note-folder-index__body__content
    %img{class: "evernote-lite__logo", :alt => "evernote-lite", :border => "0", :height => "68", :width => "68", :src => "https://s3-ap-northeast-1.amazonaws.com/chatspace-development/uploads/message/image/576/179475.png"}/
    %p.group_name_small
      = note_folder.name
