.top-bar
.notes
  .notes__header
    %img{class: "note__header__back-icon", :alt => "evernote-lite", :border => "0", :src => "https://s3-ap-northeast-1.amazonaws.com/chatspace-development/uploads/message/image/582/187704.png", :width => "68"}/
    .notes__header__note-folder-name
    .notes__header__new-note-icon
  .notes__search-bar
  .notes__body
    .notes__body__box
      .notes__body__box__title
        = @note.title
      %hr.notes__body__box__line/
      .notes__body__box__body
        = @note.body
