!!!
%html
  %body
    .wrapper
      .notes
        .notes__header
          header
        .notes__search-bar
          search-bar
        .notes__body
          = render @notes
      = render partial: "shared/content"
