.content{
  width: calc(100% - 350px);
  height: 100%;
  background-color: blue;
  &__header{
    height: 70px;
    background-color: white;
  }
  &__body{
    height: calc(100% - 70px);
    background-color: pink;
  }
}
