.notes{
  .notes__header{
    .notes__header__name{
      width: 150px;
      font-size: 25px;
      font-weight: bold;
      color: #319e58;
      text-align: center;
      text-decoration: underline;

      // 長いタイトルを・・・にする
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

  }
  .notes__search-bar{

  }
}
