.notes{
  &__header{
    &__name{
      width: 240px;
      font-size: 25px;
      font-weight: bold;
      color: #3BC26B;
      text-decoration: underline;

      // 長いタイトルを・・・にする
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &__go-folders-icon{
      height: 75px;
      width: auto;
      margin-top: 10px;
    }

  }
  .notes__search-bar{

  }
}
