.content__body{
  height: calc(100% - 70px);
  overflow-y: auto;
  background-color: white;
  // .content__body__title{
  // }
  .content__body__text{
    padding: 20px 50px;
    font-size: 18px;
    word-wrap: break-word;
  }
}
