.form-content__body{
  height: calc(100% - 85px);
  width: 100%;
  &__text{
    height: calc(100% - 28px);
    width: calc(100% - 52px);
    margin: 0 5px;
    padding: 20px;
    border-radius: 8px;
    border-color: white;

    // 本文に対するCSS
    font-size: 18px;
  }
  &__text:focus{
    outline: 0px;
    box-shadow: 0 0 0 4px rgba(138, 242, 74, 0.4);
  }
}
