.note-folder-index{
  background-color: #F3F3F3;
  min-height: 100%;
  width: 100%;
  @include flex-column-center;
  .top-bar{
    background-color: #2DBE60;
    height: 4px;
    width: 100%;
  }
  &__new-folder-body{
    position: absolute; right: 60px; top: 60px;
    .new-folder-icon{
      width: 80px;
      height: auto;
      padding-left: 28px;
    }
  }
  &__user-edit-body{
    position: absolute; left: 60px; top: 60px;
    .user-edit-icon{
      width: 80px;
      height: auto;
      padding-left: 28px;
    }
    .user-edit-text{
      font-size: 18px;
      color: #767c78;
    }
  }
  &__top{
    width: 380px;
    @include flex-column-center;
    .multiple-folders__logo{
      margin-top: 60px;
      margin-bottom: 15px;
      height: 80px;
      width: auto;
    }
  }
  &__body{
    width: 760px;
    height: 400px;
    background-color: white;
    padding-top: 15px;
    border-radius: 40px;
    @include flex-row-wrap-space-around;
    overflow-y: scroll;
    border: solid 1px #d6d5d5;
    &__content{
      padding: 0 40px;
    }
    &__folder-image{
      padding-left: 25px;
    }
    &__name{
      text-align: center;
      font-size: 16px;
      width: 150px;
      margin-bottom: 20px;
      color: #767c78;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &__last-content{
      @include flex-column-center;
      .last-content__logo{
      }
    }
  }
}
