.notes__header{
  @include flex-row-wrap-space-around;
  align-items: center;
  &__back-icon{
    width: 45px;
    height: 45px;
  }
  &__note-folder-name{
    font-size: 25px;
    font-weight: bold;
    color: #3BC26B;
    text-align: center;
    text-decoration: underline;

    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__new-note-icon{
    width: 75px;
    height: auto;
    margin-top: 10px;

  }
}
