.notes__header{
  &__back-icon{
    position: absolute; top: 8px; left: 7px;
    width: 45px;
    height: 45px;
  }
  &__search-icon{
    position: absolute; top: 6px; left: 285px;
    width: 65px;
    height: 65px;
    z-index: 1;
  }
  &__note-folder-name{
    position: absolute; top: 20px; left: 72px;
    max-width: 240px;
    font-size: 25px;
    font-weight: bold;
    color: #3BC26B;
    text-decoration: underline;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__go-folders-icon{
    width: 75px;
    height: auto;
    margin-top: 10px;
  }
  &__new-note-icon{
    width: 75px;
    height: auto;
    margin-top: 10px;
  }
}
