.alert-notice{
  background-color: #38AEF0;
  color: white;
  text-align: center;
  height: 30px;
}

.alert-error{
  background-color: #D65F4C;
  color: white;
  text-align: center;
  height: 30px;
}
