@mixin flexInitialize {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

@mixin flex-column-center {
  @include flexInitialize;
  flex-direction: column;
  align-items: center;
}

@mixin flex-row-wrap-space-around {
  @include flexInitialize;
  flex-flow: row wrap;
  justify-content: space-around;
}

@mixin placeholderColor($color) {
    &:placeholder-shown {
        color: $color;
        font-weight: lighter;
    }
    &::-webkit-input-placeholder {
        color:$color;
        font-weight: lighter;
    }
    &:-moz-placeholder {
        color:$color;
        opacity: 1;
        font-weight: lighter;
    }
    &::-moz-placeholder {
        color:$color;
        opacity: 1;
        font-weight: lighter;
    }
    &:-ms-input-placeholder {
        color:$color;
        font-weight: lighter; 
    }
}
