.notes{
  width: 300px;
  height: 100%;
  background-color: red;
  &__header{
    height: 100px;
    background-color: blue;
  }
  &__search-bar{
    height: 53px;
    background-color: red;
  }
  &__body{
    height: calc(100% - 100px - 53px);
    width: 300px;
    background-color: green;
  }
}
